<div></div>
<section class="content charts-section">
  <div class="container my-5">
    <div class="row" id="account-welcome">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2>Welcome&nbsp;
              <% if (user && user.username) { %>
                <%= user.username %>
              <% } else { %>
                Admin
              <% } %>
            </h2>
          </div>
        </div>
        <div class="form-inline">
          <!-- <div class="search-form">
            <input
              class="form-control mr-sm-9"
              type="text"
              placeholder="Search..."
              aria-label="search"
            />
          </div> -->
        </div>
      </div>
    </div>

    <!-- Start of row COUNT -->
    <div class="row" id="count">
      <div class="col-md-4">
        <div class="card card-red">
          <div class="card-header">
            <div class="count">
              <div class="icon"><i class="fa fa-home"></i></div>
              <div class="info">
                <div class="number"><%=stats.total_rooms%></div>
                <div class="label">Rooms</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-blue">
          <div class="card-header">
            <div class="count">
              <div class="icon"><i class="fa fa-users"></i></div>
              <div class="info">
                <div class="number">4</div>
                <div class="label">Customers</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-green">
          <div class="card-header">
            <div class="count">
              <div class="icon"><i class="fa fa-bookmark"></i></div>
              <div class="info">
                <div class="number"><%=stats.total_reservations%></div>
                <div class="label">Reservations</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-green">
          <div class="card-header">
            <div class="count">
              <div class="icon"><i class="fa fa-info"></i></div>
              <div class="info">
                <div class="number"><%=stats.available_rooms%></div>
                <div class="label">Available Rooms</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-blue">
          <div class="card-header">
            <div class="count">
              <div class="icon"><i class="fa fa-thumbs-up"></i></div>
              <div class="info">
                <div class="number"><%=stats.booked_rooms%></div>
                <div class="label">Booked Rooms</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-red">
          <div class="card-header">
            <div class="count">
              <div class="icon"><i class="fa fa-star"></i></div>
              <div class="info">
                <div class="number"><%=stats.vip_rooms%></div>
                <div class="label">VIP Rooms</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of row COUNT -->

    <!-- Start of row graphs
    <div class="row" id="graphs">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">Booked and unbooked rooms</div>
          <div class="graph">
            <canvas
              id="booking-chart"
              style="height: 204px; width: 409px"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">All room types</div>
          <div class="graph">
            <canvas
              id="room-types"
              style="background-color: rgb(255, 255, 255); height: 204px; width: 409px"
            ></canvas>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End of row graphs -->
  </div>
</section>
